{% extends "base.njk" %}

{% block content %}
    <div ng-controller="forkController" class="alias">
        <style>
            @keyframes animate-stripes {
                0% {
                    background-position: 0 0;
                }

                100% {
                    background-position: 60px 0;
                }
            }
            .progress-bar {
                background-color: var(--darker-grey-bg);
                height: 25px;
                width: 100%;
                margin: 20px auto;
                border-radius: 5px;
                box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
            }

            .stripes {
                background-size: 30px 30px;
                background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
            }

            .stripes.animated {
                animation: animate-stripes 0.6s linear infinite;
            }

            .stripes.animated.slower {
                animation-duration: 1.25s;
            }

            .stripes.reverse {
                animation-direction: reverse;
            }

            .progress-bar-inner {
                display: block;
                height: 25px;
                width: 0;
                background-color: var(--gold-text);
                border-radius: 3px;
                box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
                position: relative;
                transition: 2s;
            }
            h3,.progress-text{
                color: var(--gold-text);
                text-align: center;
                margin-top:100px;
            }
            .progress-text{
                margin-top: 40px;
            }
        </style>
        <div class="progress-bar-container">
            <h3><a href="https://blacknet.ninja/wallet.html">0.2.5</a> Hard Fork Progress(Block Version: 2)</h3>
            <div class="progress-text">100% fork success</div>
            <div class="progress-bar stripes">
                <span class="progress-bar-inner" ng-style="{'width': percent}"></span>
            </div>
        </div>
    </div>
{% endblock %}